.curve {
  position: relative;
  z-index: 100;
}

.curve .transition-svg,
.curve .background {
  position: fixed;
  height: calc(100vh + 600px);
  width: 100vw;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 101;
}

.curve .background {
  background-color: var(--background);
  /* transition: opacity 0s linear 0.1s; */
}

.curve .route {
  position: absolute;
  left: 50%;
  top: 40%;
  color: white;
  font-size: 46px;
  z-index: 102;
  transform: translateX(-50%);
  text-align: center;
}

.loader {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
